body {
	padding: 40px;
	background-color: black;
	color: lime;
	text-align: center;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

p {
	font-size: 30px;
}

#enemy {
	color: red;
}

#weapon {
	color: deepskyblue;
}

#food {
	color: limegreen;
}

#road {
	color: dimgray;
}

#quest {
	color: yellow;
}